<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home.css">
    <title>Welcome</title>
</head>
<body>
  
<main class="main">
    <aside class="sidebar">
      <nav class="nav">
        <ul>
          <li class="active"><a href="/">Welcome</a></li>
          <li><a href="/who-we-are">Who Am I</a></li>
          <li><a href="#">What I Do</a></li>
          <li><a href="/get-in-touch">Get In Touch</a></li>
        </ul>
      </nav>
    </aside>
  
    <section class="twitter">
      <div class="container">
        <a target="_blank" href="https://www.instagram.com/redaboukirr/">
            <img class="social" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/instagram-128.png" alt="Instagram">
        </a>
        <p>Follow me</p>
        <p>on Instagram</p>
      </div>
    </section>
  </main>
</body>
</html>
